.redText {
  color: red;
}

body{
    /* put a little space between content and edge of document */
    margin: 30px;
}

.my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solid red;
  height: 300px;
}
.my-col {
  border: 3px dotted blue;
}
